<table>
  <thead>
    <tr>
      <th mapfield="id" (click)="this.onHeaderClicked('id', $event)" [ngClass]="getCSSClassForTableHeader('id')">Id</th>
      <th mapfield="name" (click)="this.onHeaderClicked('name', $event)" [ngClass]="getCSSClassForTableHeader('name')">
        Name</th>
      <th mapfield="extraSearchFields" (click)="this.onHeaderClicked('extraSearchFields', $event)"
        [ngClass]="getCSSClassForTableHeader('extraSearchFields')">Extra search
        fields</th>
      <th mapfield="rating" (click)="this.onHeaderClicked('rating', $event)"
        [ngClass]="getCSSClassForTableHeader('rating')">Rating</th>
      <th mapfield="comments" (click)="this.onHeaderClicked('comments', $event)"
        [ngClass]="getCSSForTHAsync('comments', this.changeSortCriteria$ | async)">Comments</th>
    </tr>
  </thead>
  <tbody>
    @for (player of this.players$ | async; track $index) {
    <tr>
      <td>{{player.id}}</td>
      <td>{{player.name}}</td>
      <td>{{player.extraSearchFields}}</td>
      <td>{{player.rating}}</td>
      <td>{{player.comments}}</td>
    </tr>
    }

</table>
<code></code>